/* navbar stuff */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {

  float: left;  
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: rgb(58, 9, 9);}

ul.topnav li a.active {background-color: #7e0a0a;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.text-responsive {
  width: calc(100% + 1vw + 1vh);
}

.white-p p {

  color: white;

}

.white-p h1 {

  color: white;

}

.white-p hr {

  color: white;

}

.image-l img {

  border-radius: 50%;

}